.container-detail {
  flex: 1;
}

.detail {
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.image {
  width: 100%;
  height: 100%;
  border: 2px solid #f9f9f9;
}

.detail-info {
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
