.col-sm {
  font-size: 16px;
  background: rgb(242, 242, 242);
  color: #444;
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
